<h2 class="menu-list">Menu</h2>
<mat-divider></mat-divider>
<br>
<div class="menu">
<mat-card class="example-card">
  <a [routerLink]="['/']"><img class="image" mat-card-image src="assets/dinner.png"></a>
  <mat-card-content style="text-align: center">
  <span style="text-align: center">Dania główne</span>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <a [routerLink]="['/']"><img class="image" mat-card-image src="assets/pizza.png"></a>
  <mat-card-content style="text-align: center">
    <span>Pizza</span>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <a [routerLink]="['/']"><img class="image" mat-card-image src="assets/pasta.png"></a>
  <mat-card-content style="text-align: center">
    <span>Pasty</span>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <a [routerLink]="['/']"><img class="image" mat-card-image src="assets/deser.png"></a>
  <mat-card-content style="text-align: center">
    <span>Desery</span>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <a [routerLink]="['/']"><img class="image" mat-card-image src="assets/napoj.png"></a>
  <mat-card-content style="text-align: center">
    <span>Napoje</span>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <a [routerLink]="['/']"><img class="image" mat-card-image src="assets/wine.png"></a>
  <mat-card-content style="text-align: center">
    <span>Alkohol</span>
  </mat-card-content>
</mat-card>
</div>
