<h2 class="menu-list">Menu</h2>
<mat-divider></mat-divider>
<br>
<mat-card class="example-card">
  <a [routerLink]="['/']"><img mat-card-image src="assets/pizza.png"></a>
  <mat-card-content style="text-align: center">
  <span style="text-align: center">Dania główne</span>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <a [routerLink]="['/']"><img mat-card-image src="assets/pizza.png"></a>
  <mat-card-content style="text-align: center">
    <span>Pizza</span>
  </mat-card-content>
</mat-card>
