<h2 style="font-style: italic;  font-size: 30px; text-align: center">Promocje</h2>
<mat-divider></mat-divider>
<br>
<div class="promotions">
  <owl-carousel [options]="carouselOptions" [items]="promotions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let text of promotions;let i= index">
      <div class="slide-text">
        <h4 style="text-align: center; background-color: lightyellow; font-style: italic">{{text.text}}</h4>
      </div>
    </div>
  </owl-carousel>
</div>
<mat-divider></mat-divider>
<br>
